* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	background-color:;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo {
	width: 20%;
	position: relative;
	left: 500px;
}

.logo img {
	width: 100%;
}

#calculate{
	padding: 10px 10px;
}

#taIn{
	position: relative;
	top: 15px;
	resize: none;
	font-size: 15px;
	padding: 10px 10px;
}

#taOut{
	position: relative;
	top: 15px;
	resize: none;
	font-size: 15px;
	padding: 10px 10px;
}

#buttonCalc{
	padding: 10px 10px;
	font-size: 15px;
}

#buttonPlus{
	padding: 10px 10px;
	font-size: 15px;
}